
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=iOTLjvGGKHUgskcAH0cU7A==,P5U7Z1KUjXlt0yeWjN5Sxg==,bBnaELgZca+ufDL391JxGQ==,7KSqru3fQrh3gIAZfyTfCQ==
API_TOKEN_SALT=UWPTEG/4ZRJM4jkPw90fJw==
ADMIN_JWT_SECRET=Hp41MkRXL06SirbvGDNbGg==
TRANSFER_TOKEN_SALT=ZXYgR8o1zNZjA4bQ1e3Bmw==
ENCRYPTION_KEY=Swrq0E/vByJnnDNBRwGbOg==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=9kXCoWIxkjtHIRF9OqXkfw==

